---
layout: null
---

@import url("pygment_highlights.css");

/* --- General --- */

.center {
 text-align: center
}

html {
  font-size: 100%
}

body {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  font-size: 1.125rem;
}

/* --- Footer --- */

footer {
  padding: 1.875rem 0;
  border-top: 0.8px #EAEAEA solid;
  margin-top: 3.125rem;
  font-size: 0.875rem;
  background-color: {{ site.footer-col | default: "#EAEAEA" }};
  {% if site.footer-img %}
    background-image: url({{ site.footer-img | relative_url }});
    background-attachment: fixed;
  {% endif %}
}

footer .copyright {
  font-family: 'Roboto', 'Montserrat', sans-serif;
  text-align: center;
  margin-bottom: 0;
  margin-top: 0;
}
